Repository hmcts/rd-commondata-dataload, pull requests merged in 2022-07, with the labels that each got.

#132 RDCC-5016: Adding Suppression for CVE-2022-33915
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-132

#138 Rdcc 4991fix
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataApplicationExceptionAndAuditTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataFlagServiceLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/testsupport/CommonDataFunctionalBaseTest.java
  src/functionalTest/resources/application-functional.yml
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/task/CommonDataCategoriesRouteTask.java
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-138

#141 RDCC-5065: upgraded bitnami chart version
  charts/rd-commondata-dataload/Chart.yaml
  charts/rd-commondata-dataload/values.preview.template.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-141

#144 RDCC-5138: Adding Suppression for `CVE-2022-31569`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-144

#136 Feat:RDCC-4997:Changes made to add and fix checkstyle issues
  config/checkstyle/checkstyle.xml
  config/fortify-client.properties
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/testsupport/CommonDataFunctionalBaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/config/CommonDataCamelConfig.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessor.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/task/CommonDataCaseLinkingRouteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/task/CommonDataCategoriesRouteTaskTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-136

#145 RDCC-5162 Delete dependabot yaml file
  .github/dependabot.yml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-145
