Repository hmcts/rd-commondata-dataload, pull requests merged in 2023-02, with the labels that each got.

#212 [RDCC-6244]-Upgrade OWASP security libs in data ingestion
  build.gradle
  charts/rd-commondata-dataload/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-212

#213 RDCC-6332: Fix for `CVE-2022-40152`
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-213

#216 app insights fix
  Dockerfile
  charts/rd-commondata-dataload/Chart.yaml
  charts/rd-commondata-dataload/values.preview.template.yaml
  charts/rd-commondata-dataload/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-216

#217 RDCC-6432: Adding Suppression for `CVE-2022-45688`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-217
