Repository hmcts/rd-commondata-dataload, pull requests merged in 2023-07, with the labels that each got.

#251 Refactoring
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataBaseOtherCategoriesLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/testsupport/CommonDataFunctionalBaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/config/CommonDataCamelConfig.java
  src/functionalTest/resources/application-functional.yml
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_failure_additional_header.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_failure_unknown_header.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_partial_success_categoryKey_numeric.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_success.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_success_insensitive_headers.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_success_leadingspace.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_success_with_quotes.csv
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/task/CommonDataOtherCategoriesRouteTask.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/configuration/BatchConfig.java
  src/main/resources/application-crd-other-categories-reasons-router.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/task/CommonDataOtherCategoriesRouteTaskTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-251

#256 Update build.gradle
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataCategoriesLoadTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-256

#260 Suppress CVE's CVE-2023-34035, CVE-2023-34034
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-260
