Repository hmcts/rd-commondata-dataload, pull requests merged in 2024-05, with the labels that each got.

#329 DTSRD-2766
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-329

#330 Update values.yaml
  charts/rd-commondata-dataload/Chart.yaml
  charts/rd-commondata-dataload/values.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-330

#331 Update values.yaml
  charts/rd-commondata-dataload/Chart.yaml
  charts/rd-commondata-dataload/values.yaml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-331
