Repository hmcts/rd-commondata-dataload, pull requests merged in 2024-11, with the labels that each got.

#427 DTSRD-3685 CVE-2024-38820 Suppression
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-427

#406 Dtsrd 1992
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataFlagDetailsLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataFlagServiceLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataOtherCategoriesLoadTest.java
  src/functionalTest/resources/sourceFiles/flagDetails/flag_details_0_byte_character.csv
  src/functionalTest/resources/sourceFiles/flagService/flag_service_0_byte_character.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_0_byte_character.csv
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/FlagDetails.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/FlagService.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagDetailsProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagServiceProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/OtherCategoriesProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/configuration/DataQualityCheckConfiguration.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagDetailsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagServiceProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/OtherCategoriesProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-406

#428 DTSRD-3529. add 2 extra columns in the LOV table
  bin/functionalTest/sourceFiles/categories/list_of_values_utf8_header.csv
  bin/main/application-crd-list-of-values-router.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataCategoriesLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/testsupport/CommonDataFunctionalBaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/config/CommonDataCamelConfig.java
  src/functionalTest/resources/application-functional.yml
  src/functionalTest/resources/dbmigration/V1_8__alter_List_Of_Values.sql
  src/functionalTest/resources/sourceFiles/categories/list_of_values_duplicate_rec_case2.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_external_reference_failure.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_external_reference_success.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_failure_additional_header.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_0_byte_character.csv
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/Categories.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/OtherCategories.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CategoriesMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CommonMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/OtherCategoriesMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagDetailsProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagServiceProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/OtherCategoriesProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/configuration/DataQualityCheckConfiguration.java
  src/main/resources/application-crd-list-of-values-router.yaml
  src/main/resources/application-crd-other-categories-router.yaml
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_8__alter_List_Of_Values.sql
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/CategoriesTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/OtherCategoriesTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CategoriesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/OtherCategoriesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-428

#429 Revert "DTSRD-3529. add 2 extra columns in the LOV table"
  bin/functionalTest/sourceFiles/categories/list_of_values_utf8_header.csv
  bin/main/application-crd-list-of-values-router.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataCategoriesLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/testsupport/CommonDataFunctionalBaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/config/CommonDataCamelConfig.java
  src/functionalTest/resources/application-functional.yml
  src/functionalTest/resources/dbmigration/V1_8__alter_List_Of_Values.sql
  src/functionalTest/resources/sourceFiles/categories/list_of_values_duplicate_rec_case2.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_external_reference_failure.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_external_reference_success.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_failure_additional_header.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_0_byte_character.csv
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/Categories.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/OtherCategories.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CategoriesMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CommonMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/OtherCategoriesMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagDetailsProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagServiceProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/OtherCategoriesProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/configuration/DataQualityCheckConfiguration.java
  src/main/resources/application-crd-list-of-values-router.yaml
  src/main/resources/application-crd-other-categories-router.yaml
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_8__alter_List_Of_Values.sql
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/CategoriesTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/OtherCategoriesTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CategoriesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/OtherCategoriesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-429

#431 DTSRD-3529. According to the changed requirement.
  bin/functionalTest/sourceFiles/categories/list_of_values_utf8_header.csv
  bin/main/application-crd-list-of-values-router.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/CommonDataCategoriesLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/rd/commondata/cameltest/testsupport/CommonDataFunctionalBaseTest.java
  src/functionalTest/resources/application-functional.yml
  src/functionalTest/resources/dbmigration/V1_8__alter_List_Of_Values.sql
  src/functionalTest/resources/sourceFiles/categories/list_of_values_0_byte_character.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_delete_success.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_duplicate_rec_case1.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_duplicate_rec_case2.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_duplicate_rec_case3.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_duplicate_rec_case4.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_external_reference_failure.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_external_reference_null_success.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_external_reference_success.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_failure_additional_header.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_failure_missing_header.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_partial_success_categoryKey_numeric.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_success_leadingspace.csv
  src/functionalTest/resources/sourceFiles/categories/list_of_values_utf8_header.csv
  src/functionalTest/resources/sourceFiles/otherCategories/other_categories_0_byte_character.csv
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/Categories.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/OtherCategories.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CategoriesMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CommonMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/OtherCategoriesMapper.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagDetailsProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/FlagServiceProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/OtherCategoriesProcessor.java
  src/main/java/uk/gov/hmcts/reform/rd/commondata/configuration/DataQualityCheckConfiguration.java
  src/main/resources/application-crd-list-of-values-router.yaml
  src/main/resources/application-crd-other-categories-router.yaml
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_8__alter_List_Of_Values.sql
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/CategoriesTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/binder/OtherCategoriesTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/CategoriesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/mapper/OtherCategoriesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/rd/commondata/camel/processor/CategoriesProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-commondata-dataload-pr-431
